<div id="container-instructions">

    <h1>Instructions:</h1>

    <hr>

    <div class="instructions well">
        <p>
            You will see many  mazes with different color goals and these colors will be repeated throughout the game.
            The color of a
            maze controls the rules of the maze, determining both which keys move you around in the maze and which goal
            is valuable.
        </p>
        <br>
        <p>
            You will have to learn the rules but for each color, the rules are always the same. For example,
            if you find that the button "j" moves the blue circle up, it will do so in every square and maze with a
            blue circle. Likewise, if you learn that the "A" goal is worth 10 points in a green maze, "A" will be worth
            10 points in every other green maze you see.
        </p>
        <br>

        <p>
            You don't need to learn where goals are on the map. A goal's letter (either A or B) determines
            its value and the location is not important.
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <div class="left">
                    <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                        <span class="glyphicon glyphicon-arrow-left"></span> Previous
                    </button>
                </div>
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <div class="right">
                    <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Next <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
