<div id="container-instructions">

	<h1>Welcome!</h1>

	<hr>

	<div class="instructions well">

	    <p>
		    Thank you for your participation!
	    </p>
	    
	    <p>
	    	You will be playing a games in which you navigate a small maze trying to win as many points
            as possible. There will be a short tutorial to help you familiarize yourself with how the games works
            before you begin.
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <div class="right">
                    <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Next <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
