<div id="container-instructions">

	<h1>Welcome!</h1>

	<hr>

	<div class="instructions well">

        <p>
            Before we get started, go ahead and put both your hands on the keyboard. Put the fingers of your left hand
            on the <b>a</b>, <b>s</b>, <b>d</b> and <b>f</b> keys and the fingers of your
            right hand on the <b>j</b>, <b>k</b>, <b>l</b>
            and <b>;</b> keys. You will use these keys to play the games. When playing, keep both hands on the keyboard.
        </p>

        <p>
        	Ready to start the tutorial? Click the button below when you are ready to begin and
            follow the instructions you see on screen.
        </p>

	    <script type="text/javascript">
	    </script>

	</div>

	<hr>


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <div class="right">
                    <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Begin Tutorial <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
