<div id="container-instructions">

    <h1>Tutorial Complete!</h1>

    <hr>

    <div class="instructions well">

        <p>
            Great Job! You finished the tutorial.
        </p>
        
        <p>
            Now that you are familiar with how the games work, you are ready to play!
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <div class="right">
                    <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Next <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
