<div id="container-instructions">

    <h1>Instructions:</h1>

    <hr>

    <div class="instructions well">
        <p>
            You will see the same colors repeated many times, so try to learn
            the goals as best you can! This will make the game
            much easier.
        </p>
        <br>
        <p>
            Keep in mind that if you are able to learn which goals go with which
            colors, you will recieve a much bigger bonus than if you don't.
        </p>
        <br>
        <p>
            When you finish the game there will be a short questionnaire.
            Remember: use the <b>a</b>, <b>s</b>, <b>d</b>, <b>f</b>, <b>j</b>,
            <b>k</b>, <b>l</b>, <b>;</b>
            keys to move around the maze.
        </p>
        <br>
        <!--<p>-->
            <!--Click the button below when you are ready to play.-->
        <!--</p>-->


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <div class="left">
                    <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                        <span class="glyphicon glyphicon-arrow-left"></span> Previous
                    </button>
                </div>
            </div>
            <div class="col-xs-11">
                <div class="right">
                    <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Next <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
